<h2 mat-dialog-title class="title">
    {{ title }}
</h2>
<div mat-dialog-content>
    <p *ngIf="data.dialogType === dialogType.SharePost">Link: {{ link }}</p>
    <form name="shareForm" class="main-content">
        <mat-form-field>
            <input
                name="shareEmail"
                [(ngModel)]="email"
                matInput
                placeholder="Email"
            />
        </mat-form-field>
    </form>
</div>
<div class="actions">
    <button mat-raised-button (click)="close()">Back</button>
    <button
        mat-raised-button
        color="primary"
        (click)="
            data.dialogType === dialogType.ResetPassword
                ? sendResetLink()
                : sendLink()
        "
    >
        Send
    </button>
</div>
