<mat-card>
    <mat-card-header>
        <img mat-card-avatar src="{{ comment.author.avatar }}" alt="Avatar" />
        <mat-card-title>{{ comment.author.userName }} </mat-card-title>
        <div>{{ comment.createdAt | date: "d/M/yy, h:mm a" }}</div>
    </mat-card-header>
    <mat-card-content *ngIf="!isEditingMode">
        <p>{{ comment.body }}</p>
    </mat-card-content>
    <mat-card-content *ngIf="isEditingMode">
        <mat-form-field>
            <textarea
                [(ngModel)]="comment.body"
                matInput
                placeholder="Write something..."
            ></textarea>
        </mat-form-field>
        <button
            mat-icon-button
            color="primary"
            matTooltip="Post it"
            (click)="onEditComment()"
        >
            <mat-icon aria-label="Send">send</mat-icon>
        </button>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
        <button mat-icon-button color="primary" (click)="likeComment()">
            <mat-icon
                matBadge="{{ likes.length }}"
                matBadgeColor="accent"
                matBadgeSize="small"
                [matBadgeHidden]="likes.length === 0"
                aria-label="Like"
                >thumb_up</mat-icon
            >
        </button>
        <button mat-icon-button color="primary" (click)="dislikeComment()">
            <mat-icon
                matBadge="{{ dislikes.length }}"
                matBadgeColor="accent"
                matBadgeSize="small"
                [matBadgeHidden]="dislikes.length === 0"
                aria-label="Dislike"
                >thumb_down</mat-icon
            >
        </button>
        <button mat-icon-button color="accent">
            <mat-icon aria-label="Share">share</mat-icon>
        </button>
        <button
            mat-icon-button
            color="accent"
            *ngIf="currentUser?.id === comment.author.id"
            (click)="toggleIsEditingMode()"
        >
            <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button
            mat-icon-button
            color="warn"
            *ngIf="currentUser?.id === comment.author.id"
            (click)="onDeleteComment()"
        >
            <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
    </mat-card-actions>
    <div class="users-reaction" *ngIf="likes.length">
        <p>Liked:</p>
        <ngx-avatar
            *ngFor="let _like of likes"
            name="{{ _like.user.userName }}"
            src="{{ _like.user.avatar }}"
            size="30"
            [round]="true"
        >
        </ngx-avatar>
    </div>
    <div class="users-reaction" *ngIf="dislikes.length">
        <p>Disliked:</p>
        <ngx-avatar
            *ngFor="let _dislike of dislikes"
            name="{{ _dislike.user.userName }}"
            src="{{ _dislike.user.avatar }}"
            size="30"
            [round]="true"
        >
        </ngx-avatar>
    </div>
</mat-card>
