<h2 mat-dialog-title class="title">
    {{ title }}
</h2>
<div mat-dialog-content>
    <form name="authForm" #authForm="ngForm" class="main-content">
        <mat-form-field *ngIf="data.dialogType !== dialogType.ResetPassword">
            <input
                name="authEmail"
                [(ngModel)]="email"
                #inEmail="ngModel"
                matInput
                placeholder="Email"
            />
        </mat-form-field>
        <mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
            <input
                name="authUserName"
                [(ngModel)]="userName"
                #upNickname="ngModel"
                matInput
                placeholder="Username"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                name="authPassword"
                [(ngModel)]="password"
                #upPassword="ngModel"
                matInput
                [type]="hidePass ? 'password' : 'text'"
                placeholder="Password"
            />
            <mat-icon matSuffix (click)="hidePass = !hidePass">{{
                hidePass ? "visibility" : "visibility_off"
            }}</mat-icon>
        </mat-form-field>
        <mat-form-field *ngIf="data.dialogType === dialogType.ResetPassword">
            <input
                name="authRepeatPassword"
                [(ngModel)]="repeatPassword"
                #upPassword="ngModel"
                matInput
                [type]="hideRepeatPass ? 'password' : 'text'"
                placeholder="Repeat password"
            />
            <mat-icon matSuffix (click)="hideRepeatPass = !hideRepeatPass">{{
                hideRepeatPass ? "visibility" : "visibility_off"
            }}</mat-icon>
        </mat-form-field>
        <button
            *ngIf="data.dialogType === dialogType.SignIn"
            mat-icon-button
            color="accent"
            (click)="openSendDialog()"
        >
            Forgot the password?
        </button>
    </form>
</div>
<div class="actions">
    <button mat-raised-button (click)="close()" [routerLink]="['/']">Back</button>
    <button
        mat-raised-button
        [routerLink]="['/']"
        color="primary"
        (click)="
            data.dialogType === dialogType.SignUp
                ? signUp()
                : data.dialogType === dialogType.SignIn
                ? signIn()
                : resetPassword()
        "
    >
        {{ buttonName }}
    </button>
</div>
