<mat-card [ngClass]="{ 'post-with-comments': showComments }">
    <mat-card-header>
        <img mat-card-avatar src="{{ post.author.avatar }}" alt="Avatar" />
        <mat-card-title>{{ post.author.userName }}</mat-card-title>
        <div class="date">{{ post.createdAt | date: "d/M/yy, h:mm a" }}</div>
    </mat-card-header>
    <img
        mat-card-image
        *ngIf="post.previewImage"
        mat-card-image
        src="{{ post.previewImage }}"
        alt="Photo"
    />
    <mat-card-content *ngIf="!isEditingMode">
        <p>{{ post.body }}</p>
    </mat-card-content>
    <mat-card-content *ngIf="isEditingMode">
        <mat-form-field>
            <textarea
                [(ngModel)]="post.body"
                matInput
                placeholder="Write something..."
            ></textarea>
        </mat-form-field>
        <button
            mat-icon-button
            color="primary"
            matTooltip="Post it"
            (click)="onEditPost()"
        >
            <mat-icon aria-label="Send">send</mat-icon>
        </button>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
        <button mat-icon-button color="primary" (click)="likePost()">
            <mat-icon
                matBadge="{{ likes.length }}"
                matBadgeColor="accent"
                matBadgeSize="medium"
                [matBadgeHidden]="likes.length === 0"
                aria-label="Like"
                >thumb_up</mat-icon
            >
        </button>
        <button mat-icon-button color="primary" (click)="dislikePost()">
            <mat-icon
                matBadge="{{ dislikes.length }}"
                matBadgeColor="accent"
                matBadgeSize="medium"
                [matBadgeHidden]="dislikes.length === 0"
                aria-label="Dislike"
                >thumb_down</mat-icon
            >
        </button>
        <button
            mat-icon-button
            color="accent"
            (click)="openSendDialog(post.id)"
        >
            <mat-icon aria-label="Share">share</mat-icon>
        </button>
        <button
            mat-icon-button
            color="accent"
            *ngIf="currentUser?.id === post.author.id"
            (click)="toggleIsEditingMode()"
        >
            <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button
            mat-icon-button
            color="warn"
            *ngIf="currentUser?.id === post.author.id"
            (click)="onDeletePost()"
        >
            <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
        <button mat-icon-button color="basic" (click)="toggleComments()">
            <mat-icon
                matBadge="{{ post.comments.length }}"
                matBadgeColor="warn"
                matBadgeSize="medium"
                [matBadgeHidden]="post.comments.length === 0"
                aria-label="Add comment"
                >comment</mat-icon
            >
        </button>
    </mat-card-actions>
    <div class="users-reaction" *ngIf="likes.length">
        <p>Liked:</p>
        <ngx-avatar
            *ngFor="let _like of likes"
            name="{{ _like.user.userName }}"
            src="{{ _like.user.avatar }}"
            size="30"
            [round]="true"
        >
        </ngx-avatar>
    </div>
    <div class="users-reaction" *ngIf="dislikes.length">
        <p>Disliked:</p>
        <ngx-avatar
            *ngFor="let _dislike of dislikes"
            name="{{ _dislike.user.userName }}"
            src="{{ _dislike.user.avatar }}"
            size="30"
            [round]="true"
        >
        </ngx-avatar>
    </div>
    <div *ngIf="showComments">
        <mat-divider></mat-divider>
        <div class="new-comment">
            <mat-form-field>
                <textarea
                    [(ngModel)]="newComment.body"
                    matInput
                    placeholder="Comment it..."
                ></textarea>
            </mat-form-field>
            <button
                mat-icon-button
                color="primary"
                matTooltip="Send"
                (click)="sendComment()"
            >
                <mat-icon aria-label="Send">send</mat-icon>
            </button>
        </div>
        <div *ngIf="post.comments.length > 0" class="comments-count">
            Just {{ post.comments.length }} in all
        </div>
        <app-comment
            *ngFor="let _comment of post.comments"
            [comment]="_comment"
            [currentUser]="currentUser"
            [editComment]="editComment"
            [deleteComment]="deleteComment"
        ></app-comment>
    </div>
</mat-card>
